[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "lib/OpenXR-SDK"]
	path = lib/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "lib/rawdraw"]
	path = lib/rawdraw
	url = https://github.com/cntools/rawdraw